@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create author", "Edit")

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td scope="row">@item.FirstName</td>
                <td scope="row">@item.LastName</td>
                <td scope="row">@Html.ActionLink("Edit author", "Edit", "Author", new { id = @item.Id }, null)</td>
                <td scope="row">@Html.ActionLink("Delete author", "Delete", "Author", new { id = @item.Id }, null)</td>
            </tr>
        }
</table>




